[include ./My_Macros.cfg]
[include ./mainsail.cfg]
[include ./KAMP_LiTE/*.cfg]
#'[include ./Demon_Klipper_Essentials_Unified/Other_Files/Demon_User_Files_Updater/Demon_User_Files_Handler_v*.cfg]
#[include ./Demon_Klipper_Essentials_Unified/*.cfg]
#[include ./Demon_User_Files/*.cfg]

#[include Sensorless-Homing.cfg]

[save_variables]
filename = ~/demon_vars.cfg

[force_move]
enable_force_move: True

[idle_timeout]
gcode:
    _DEMON_IDLE_TIMEOUT
timeout: 3600


[filament_switch_sensor filament_sensor]
switch_pin: ^PC15
pause_on_runout: True
insert_gcode:
    { action_respond_info("Insert Detected") }  
runout_gcode:
    { action_respond_info("Runout Detected") }
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}

#####################################################################
#   UUID Setting
#####################################################################
[mcu]
canbus_uuid:7d2463722510 #YOURS WILL BE DIFFERENT - CHANGE IT  TO MATCH

[mcu EBBCan]
canbus_uuid: 192b98dc772c #YOURS WILL BE DIFFERENT - CHANGE IT  TO MATCH

[input_shaper]
shaper_freq_x: 77.2
shaper_type_x: mzv
shaper_freq_y: 65.2
shaper_type_y: mzv




[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 20000    			
max_z_velocity: 25 			
max_z_accel: 350
square_corner_velocity: 5.0




[bed_mesh]
zero_reference_position: 125, 125 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 5, 5 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 245, 220 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

#home_xy_position: 125, 125 # This should be for the CENTRE OF YOUR BED.

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor rear left)
[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 64
rotation_distance: 40
# endstop_pin: ^EBBCan: PB6
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 250
position_max: 250

##--------------------------------------------------------------------
homing_speed: 20   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
# Must connect DIAG pin to M1-Stop on Manta (^PF4), and NOT ^EBBCan: PB6 !!!
diag_pin: ^PF4
driver_SGTHRS: 65 # 255 is most sensitive value, 0 is least sensitive



## Y Stepper on Motor2 (A Motor rear right)
[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 64

rotation_distance: 40

endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 255
position_max: 255

##--------------------------------------------------------------------
homing_speed: 20  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PF3
driver_SGTHRS: 65 # 255 is most sensitive value, 0 is least sensitive


#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
#endstop_pin: ^PF2
#endstop_pin: ^PF5 
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
position_max: 290

##--------------------------------------------------------------------
position_min: -8
homing_speed: 8
second_homing_speed: 3


[tmc2209 stepper_z]
uart_pin: PB9
interpolate: false
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0



#[stepper_]##	Z1 Stepper - Rear Left on Motor4
[stepper_z1]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
#endstop_pin: ^PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: false
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: false
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z3 Stepper - Front Right on Motor7
[stepper_z3]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: false
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 4.7019
#gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: Generic 3950 ##COMMENT OUT THIS LINE AND sensor_pin line below IF YOU HAVE RAPIDO V2
sensor_pin: EBBCan: PA3
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -273.15
max_temp: 320
min_extrude_temp: 0                                   ## use this for estep calbration only##
#min_extrude_temp: 230                                ## enable this ones you have done extruder calibration steps and comment out the above line.
max_extrude_cross_section: 5# KAMP setting needed
max_extrude_only_distance: 150 

# NTC100K B3950
sensor_type: Generic 3950 #ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3 #if you renamed your board make sure to match the board assignment in front of the pin

###########################
#ENABLE BELOW 7 lINES IF YOU HAVE V2 RAPIDO#
###########################

# PT100 / PT1000
# sensor_type: MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2


[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.3
stealthchop_threshold: 999999


[fan]
pin: EBBCan: PA1
kick_start_time: 0.5


[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0




[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 0.85
min_temp: -273.15
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[fan_generic Bed_Fans]
pin: PA3
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
off_below: 0.20

[output_pin DISABLE_BED_FANS]
pin: PA5

[temperature_sensor Chamber_Temp]
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: -40
max_temp: 100

[temperature_sensor CB1]
sensor_type: temperature_host

[temperature_fan host]
pin: PF7
control: watermark
max_delta: 3
sensor_type: temperature_host
min_temp: -20
max_temp: 100
target_temp: 50




##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PF8
kick_start_time: 0.5
heater: heater_bed

[quad_gantry_level]
gantry_corners:
	-60,-10
	310, 320
#	Probe points
points:
	50,25
	50,175
	200,175
	200,25

speed: 650
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.03
max_adjust: 10

[bed_mesh]
speed: 300
horizontal_move_z: 5

mesh_min: 20,20
mesh_max: 230,230

probe_count: 30,30
algorithm: bicubic



[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.3

[include shell_command.cfg]
